$background-color: #202331;
$text-color: #929293;

footer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: end;
    grid-gap: 20px;
    color: $text-color;
    background-color: $background-color;
    position: absolute;
    bottom: 0;
    width: 100%;

    #social-media {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: auto auto;
        font-size: 20px;

        a {
            display: inline-block;
        }
    }
}