@import '../../../variables.scss';

footer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: end;
    grid-gap: 20px;
    padding: 5px;
    color: $text-color;
    background-color: $secondary-background;
    position: fixed;
    bottom: 0;
    width: 100%;

    #social-media {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: auto auto;
        font-size: 20px;

        a {
            display: inline-block;
            padding: 3px 0px 3px 0px;

        }

        i {
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid white;
            }
        }
    }
}